.mediaFlow {
  display: flex;
  overflow-x: auto;
}
.mediaCard {
  margin: 0.75rem 0.5rem 1.5rem 0.5rem;
  flex: 0 0 auto;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--gray-90);
  display: grid;
}

.mediaDescription {
  margin: 0.5rem;
  font-style: italic;
  overflow: hidden;
}

.mediaTitle {
  margin: 1rem 0.5rem;
  white-space: wrap;
  font-weight: bold;
  text-align: center;
}

.mediaButton {
  align-self: flex-end;
  justify-self: flex-end;
  margin: 0.5rem;
  padding: 0.5rem;
}
