.linksContainerHome {
  display: flex;
  overflow-x: auto;
  height: 230px;
}

.linksContainer {
  max-width: 98.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 0.5rem;
  border: 2px solid var(--gray-90);
  border-radius: 10px;
  padding: 0 10px;
}

.linkCardHome {
  margin: 0.75rem 0.5rem 1.5rem 0.5rem;
  flex: 0 0 auto;
  width: 250px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--gray-90);
  display: grid;
}

.linkCard {
  margin: 0.75rem 0.5rem 1.5rem 0.5rem;
  width: 96%;
  height: 200px;
  border-radius: 10px;
  background-color: var(--gray-90);
  display: grid;
  padding: 0.25rem 0.5rem;
  @media (max-width: 700px) {
    max-width: 350px;
    margin: 0.75rem auto 1.5rem auto;
  }
}

.linkTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

.linkDescription {
  margin: 0.75rem;
  text-align: justify;
  text-justify: inter-character;
  font-style: italic;
}

.linkButton {
  background-color: transparent;
  color: var(--primary-1);
  border: 1px solid var(--primary-1);
  border-radius: 10px;
  align-self: flex-end;
  justify-self: flex-end;
  margin: 0.5rem;
  padding: 0.5rem;
}

.loadingWrapper {
  grid-column: 1 / -1; /* Span across all columns */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

/* .loadContainerHome {
  width: 75%;
}

.loadContainer {
  width: 350%;
  @media (min-width: 701px) and (max-width: 1120px) {
    width: 200%;
  }
  @media (max-width: 700px) {
    width: 150%;
  }
} */
