.navigationContainer {
  display: none;
  @media (max-width: 700px) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.linkContainer {
    display: none;
    @media (max-width: 700px) {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

.linkContainerActive {
  display: flex;
  flex-direction: column;
  border-bottom: 3px solid var(--primary-1);
}

.icons {
  width: 2rem;
  margin: 0.5rem 0 0.25rem 0;
}

.iconsActive {
  width: 2rem;
  margin: 0.5rem 0 0.25rem 0;
  color: var(--primary-1);
}
